<!DOCTYPE html>
<html>
    <head>
        <title>Amelie's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>
        <article>
            <time>Published: 11.07.2023, 9:46</time>
            <h2><a href="/">My first post</a></h2>
            <p>This is my first blog post</p>
        </article>

        <article>
            <time>Published: 11.07.2023, 9:48</time>
            <h3>2nd post</h3>
            <p>This is my second post</p>
        </article>
    </body>
</html>