h1 a, h2 a {
    color: #ff0064;
    font-family:'Lobster';
}

body {
    padding-left: 0px;
    background-color: #ff85b4;
    color: #ffffff
}

.page-header {
    background-color: #ff0064;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffbfd8;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #ffffff;
}

.date:hover {
    color:#afbfd8
}

.date {
    padding: 20px 20px 20px 20px
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #ffffff;
}


.post > .date,
.post > .actions {
    float: right;
}

.btn-primary,
.btn-primary:visited {
    color: #630327;
    background: none;
    border-color: #ff0064;
}

.btn-primary:hover {
    color:#ffbfd8;
    background-color: #ff0064;
}

.btn-secondary,
.btn-secondary:visited {
    color: #630327;
    background: none;
    border-color: #630327;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #630327;
}